<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>千锋洗脚1号店</title>
    <!-- BOOTSTRAP CORE CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <!-- CUSTOM CSS -->
    <link href="/static/css/style.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">
    
    <div class="navbar navbar-default navbar-fixed-top scroll-me" >  
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/static/images/qfl.png" alt="" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right " style="padding:20px;">
                    <li><a href="#home-sec">泰式188</a></li>
                     <li><a href="#about-sec">日式299</a></li>
                     <li><a href="#description-sec">法式366</a></li>
                    <li><a href="#contact-sec">全套大保健500</a></li>
                </ul>
            </div>
           
        </div>
    </div>
     <!-- NAVBAR END  -->
   
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="千锋官网">用良心洗脚</a></div>
       <div id="home-sec">
        <div class="overlay">
            <div class="container">
                <div class="col-md-8 col-md-offset-2 text-center scroll-me" >

                    <h1 style="padding-top:120px;">
                        <strong>  <mark>千锋洗脚城一号店</mark></strong>
                    </h1>
                    <p class="home-p">
                        <br />
                         <br />
                        足上功夫很了得！ <br />
                        踏实人生从足做起！ <br />
                        满“足”你的健康要求 <br />
                        价值观念： 一天是洗脚人，一辈子都是洗脚人 <br />


                    </p>
                    <br />
                    <a href="#about-sec" class="btn btn-info btn-lg"  > 足浴、随心所欲！ </a>
                </div>
                 
            </div>
        </div>

    </div>
     <!--HOME SECTION END  -->
       <section id="about-sec" >
          <div class="container">
           
            <div class="row text-center">
<div class="col-md-4">
     <img src="/static/images/liu.png" alt="" class="img-circle" />
                    <br />
    <h3>38号技师 </h3>
    <p>
        毕业于诶威大学洗脚专业，有7年的洗脚经验，其中法师洗脚工作2年，
        先后任职于北京洗脚有限公司、小脚洗洗等公司，精通洗脚 、推拿，
        先后参与开发过《泰式和日式混合洗脚》项目。从事洗脚培训期间，
        参与编写多本教材，包括《洗脚项目设计》《洗脚入门》等。
    </p>

</div>
                <div class="col-md-4">
                     <img src="/static/images/cang.jpg" alt="" class="img-circle" />
                    <br />
    <h3>399号技师 </h3>
                    
                     <p>
        工作经验丰富，可以提供各种服务。包您满意，让你随你所欲！
    </p>
                </div>
                <div class="col-md-4">
                    <img src="/static/images/jize.jpg" alt="" class="img-circle" />
                    <br />
    <h3>588号技师</h3>
                     <p>
        工作经验丰富，技师活好，可提供全套服务，你应该懂得！
    </p>
                </div>
            </div>
        </div>
        <!-- CONTAINER END  -->
    </section>
    <!--ABOUT SECTION END  -->
           <section id="description-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                     <h3>Small Description </h3>
    <p >
        Nunc at viverra risus. 
        In euismod quam ac dictum varius. 
        Nunc at viverra risus. 
        In euismod quam ac dictum varius.
        In euismod quam ac dictum varius.
        Nunc at viverra risus. 
       
    </p>
                </div>

            </div>
            <!-- ROW END  -->
        </div>
        <!-- CONTAINER END  -->
    </section>
    <!--DESCRIPTION SECTION END  -->
    <section id="contact-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                     <h3>Contact Team </h3>
                    <br />
        <div class="form-group">
                            <strong>Address:</strong>  340, New Lane , Newyork Way, United States. 
                            <br /><br />
                        <label></label>
                        <input type="text" class="form-control" placeholder="Enter Your Name" />
                            <label></label>
                        <input type="text" class="form-control" placeholder="Enter Your Email" />
                            <label></label>
                           <textarea class="form-control" placeholder="Enter Your Query" rows="5"></textarea>
                           <br />
                            <a href="#" class="btn btn-primary">SEND QUERY</a>
                            </div>
                    <div class="footer">
                        &copy; 2015 your domain | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                    </div>
                    </div>
                </div>
            </div>
    </section>
     <!--CONTACT SECTION END  -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  SCRIPTS -->
    <script src="/static/js/jquery-1.11.1.js"></script>
   <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/static/jsbootstrap.js"></script>
    <!-- SCROLLING SCRIPTS PLUGIN  -->
    <script src=/static/jsjquery.easing.min.js"></script>
      <!-- CUSTOM SCRIPTS   -->
    <script src="/static/js/custom.js"></script>
</body>
</html>
