<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="?a=1&b=100c=10000"  method="post">
    <input type="text" placeholder="用户名" name="username">
    <input type="password" placeholder="密码" name="password" >
    <input type="radio" name="gender" value="男">男性
    <input type="radio" name="gender" value="女">女性
    <input type="radio" name="gender" value="女">中性
    <input type="checkbox" name="interest" value="smoke">抽烟
    <input type="checkbox" name="interest" value="drunk">喝酒
    <input type="checkbox" name="interest" value="hairtang">烫头
    <input type="checkbox" name="interest" value="washfoot">洗脚




    <input type="submit" >
</form>
</body>
</html>